<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to MyWay!</h1>
		<p>
		You've found
		<%= link_to "Jeff's", "http://about.me/jeff_hallett"%>
		second Rails application.  God help us all.
		</p>
		<p> 
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>
